body {
    font-family: 'Varela Round', sans-serif;
    font-size: 16px;
    line-height: 1.6;
    overflow-x: hidden;
    color: #868F9B;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    margin-top: 0px;
    margin-bottom: 20px;
    color: #10161A;
}

h1 {
    font-size: 54px;
}
.mapa{
    margin-left:280px;
    align-self:center;
}
h2 {
    font-size: 36px;
    text-align: center;
}
.gallery-text{
    height:100px;
    background-color: #FAFAFA;
}
h3 {
    font-size: 21px;
}

h4 {
    font-size: 18px;
}

h5 {
    font-size: 16px;
}
h6 {
	font-size: 16px;
}
h7 {
	font-size: 30px;
	color: white;
}
h8 {
	color: #868F9B;
	font-size:18px;
}

a {
    color: #6195FF;
    text-decoration: none;
    -webkit-transition: 0.2s opacity;
    transition: 0.2s opacity;
}

a:hover, a:focus {
    text-decoration: none;
    outline: none;
    opacity: 0.8;
    color: #6195FF;
}

.main-color {
    color: #6195FF;
}

.white-text {
    color: #FFF;
}

::-moz-selection {
    background-color: #6195FF;
    color: #FFF;
}

::selection {
    background-color: #6195FF;
    color: #FFF;
}

ul, ol {
    margin: 0;
    padding: 0;
    list-style: none
}
.section {
    position: relative;
}

.md-padding {
    padding-top: 120px;
    padding-bottom: 30px;
}

.sm-padding {
    padding-top: 60px;
    padding-bottom: 60px;
}
.sm-moje {
	padding-top:50px;
}

.bg-dark {
    background-color: #1C1D21;
}

.main-btn, .white-btn, .outline-btn {
    display: inline-block;
    padding: 10px 35px;
    margin: 3px;
    border: 2px solid transparent;
    border-radius: 3px;
    -webkit-transition: 0.2s opacity;
    transition: 0.2s opacity;
}

.main-btn {
    background: #6195FF;
    color: #FFF;
}

.white-btn {
    background: #FFF;
    color: #10161A !important;
}

.outline-btn {
    background: transparent;
    color: #6195FF !important;
    border-color: #6195FF;
}

.main-btn:hover, .white-btn:hover, .outline-btn:hover {
    opacity: 0.8;
}

.navbar-brand {
    padding: 0;
}
.navbar navbar-inverse navbar-fixed-top{
    background-color: #10161A;
}
.navbar-brand .logo, .navbar-brand .logo-alt {
    max-height: 40px;
	margin-top: 7px;
    margin-left:1050px;
    display:block;
}
#nav {
    padding: 10px 0px;
    background: #FFF;
    -webkit-transition: 0.2s padding;
    transition: 0.2s padding;
    z-index: 999;
}

#nav.navbar {
    border: none;
    border-radius: 0;
    margin-bottom: 0px;
}

#nav.fixed-nav {
    position: fixed;
    left: 0;
    right: 0;
    padding: 0px 0px;
    background-color: #FFF !important;
    border-bottom: 1px solid #EEE;
}

#nav.nav-transparent {
    background: transparent;
}


@media only screen and (min-width: 768px) {
    .main-nav li {
        padding: 0px 15px;
    }
    .main-nav li a {
        font-size: 14px;
        -webkit-transition: 0.2s color;
        transition: 0.2s color;
    }
    .main-nav>li>a {
        color: #10161A;
        padding: 15px 0px;
    }
    #nav.nav-transparent:not(.fixed-nav) .main-nav>li>a {
        color: #fff;
    }
    .main-nav>li>a:hover, .main-nav>li>a:focus, .main-nav>li.active>a {
        background: transparent;
        color: #6195FF;
    }
    .main-nav>li>a:after {
        content: "";
        display: block;
        background-color: #6195FF;
        height: 2px;
        width: 0%;
        -webkit-transition: 0.2s width;
        transition: 0.2s width;
    }
    .main-nav>li>a:hover:after, .main-nav>li.active>a:after {
        width: 100%;
    }
    
header {
    position: relative;
}

#home {
    height:100px;
    background-color: #FAFAFA;
}

.blog {
    background-color: #FFF;
}

.blog .blog-content {
    padding: 20px 20px 20px;
}

.blog .blog-meta {
    margin-top:100px;
}

#main .blog .blog-content {
  padding: 20px 0px 0px;
}

#main .blog {
  margin-top: 20px;
}


.contact {
    margin-bottom: 100px;
    text-align: center;
}

.contact i {
    font-size: 36px;
    color: #6195FF;
    margin-bottom: 20px;
}

.contact-form {
    text-align: center;
    margin-top: 40px;
}

#footer {
    position: relative;
}

.footer-logo {
    text-align: center;
    margin-bottom: 39px;
}
.footer-copyright p {
    text-align: center;
    font-size: 14px;
    text-transform: uppercase;
    margin: 0;
}
